version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    command:
      - start-dev
    environment:
      KC_DB: dev-file
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"